{% extends "home_base.html" %}
{% block user_home_content %}
<h3>{{ _("Inbox") }}</h3>

<table id="inbox" class="table table-condensed">
    <thead>
        <tr>
            <th>{{ _("From") }}</th>
            <th>{{ _("Subject") }}</th>
            <th>{{ _("Received") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for message in q.User_get_messages(current_user) %}
            <tr class="{{ 'read' if message.read else 'unread' }}" data-message-id="{{ message.id }}">
                <td>{{ q.Message_get_user_from(message).username }}</td>
                <td>{{ message.subject }}</td>
                <td>{{ locale.format_date(message.sent) }}</td>
            </tr>
        {% end %}
    </tbody>
</table>
{% end %}

{% block javascript %}
    $('#inbox tr').click(function () {
        window.location.href = '/user/home/inbox/read/' + $(this).attr('data-message-id');
    });
{% end %}
