{% extends base.html %}
{% block content %}

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Keppni</th>
            <th>Byrjar</th>
            <th>Lengd</th>
            <!-- TODO: Add registration links -->
        </tr>
    </thead>
    <tbody>
        {% for contest in cur_contests %}
        <tr>
            <td>{{ contest.name }}</td>
            <td>{{ contest.start_time }}</td>
            <td>{{ contest.length }} mín</td> <!-- TODO: format nicely -->
        </tr>
        {% end %}
    </tbody>
</table>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Keppni</th>
            <th>Byrjar</th>
            <th>Lengd</th>
            <!-- TODO: Add registration links -->
        </tr>
    </thead>
    <tbody>
        {% for contest in old_contests %}
        <tr>
            <td>{{ contest.name }}</td>
            <td>{{ contest.start_time }}</td>
            <td>{{ contest.length }} mín</td> <!-- TODO: format nicely -->
        </tr>
        {% end %}
    </tbody>
</table>

{% module Pagination(item_count=item_count,
                     cur_page=cur_page,
                     items_per_page=items_per_page,
                     page_location=page_location) %}

{% end %}
