<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>gamma</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="{{ static_url('css/bootstrap.cerulean.min.css') }}" rel="stylesheet" />
        <link href="{{ static_url('css/site.css') }}" rel="stylesheet" />
    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container" id="nav">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="brand" href="/">{{ _("gamma") }}</a> -->
                    <a class="brand logo" style="" href="/">&gamma;</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <!-- <li class="active"><a href="/">{{ _('Home') }}</a></li> -->
                            <li><a href="/contests/">{{ _('Contests') }}</a></li>
                            <li><a href="/problems/">{{ _('Problems') }}</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            {% if current_user %}

                                <li class="dropdown"><a href="/user/profile" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{ current_user.username }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/user/home/profile"><i class="icon-cog"></i> {{ _("Preferences") }}</a></li>
                                        <li><a href="/user/home/inbox"><i class="icon-envelope"></i> {{ _("Messages") }}</a></li>
                                        <li><a href="/user/home/team/create"><i class="icon-th"></i> {{ _("Teams") }}</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/user/logout"><i class="icon-off"></i> {{ _("Logout") }}</a></li>
                                    </ul>
                                </li>

                                <!-- <li><a href="#"><i class="icon&#45;user"></i> {{ current_user.username }}</a></li> -->
                                <!-- <li><a href="/user/logout/"><i class="icon&#45;off"></i> {{ _("Logout") }}</a></li> -->
                            {% else %}
                                <li><a href="/user/login/"><i class="icon-user"></i> {{ _("Login") }}</a></li>
                                <li><a href="/user/register/">{{ _("User Register") }}</a></li>
                            {% end %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% end %}
        </div>

        <div class="container-fluid">
            {% block content_fluid %}{% end %}
        </div>

        <script src="{{ static_url("js/jquery-1.9.1.min.js") }}"></script>
        <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
        <script type="text/javascript">
            jQuery(function ($) {
                {% block javascript %}{% end %}
            });
        </script>
    </body>
</html>
