{% extends ../base.html %}
{% block content %}

{% if current_contests %}
    <table class="table table-hover table-striped table-bordered contests contests_current">
        <caption>{{ _("Current contests") }}</caption>
        <thead>
            <tr>
                <th class="contest_name">{{ _("Name") }}</th>
                <th class="contest_start">{{ _("Contest Started") }}</th>
                <th class="contest_duration">{{ _("Duration") }}</th>
                <th class="contest_standings"></th>
                <th class="contest_registration"></th>
            </tr>
        </thead>
        <tbody>
            {% for contest in current_contests %}
                <tr>
                    <td class="contest_name">
                        {% if contest.open_for_guests or (current_user and q.Contest_is_registered(contest, current_user)) %}
                            <a href="/contest/{{ contest.id }}/">{{ contest.name }}</a>
                        {% else %}
                            {{ contest.name }}
                        {% end %}
                    </td>
                    <td class="contest_start">{{ locale.format_date(contest.start_time) }}</td>
                    <td class="contest_duration">
                        {% if contest.duration != None %}
                            {{ "%02d:%02d" % (contest.duration/60, contest.duration%60) }}
                        {% end %}
                    </td>
                    <td class="contest_standings"><a href="/contest/{{ contest.id }}/standings/">{{ _("Standings") }}</a></td>
                    <td class="contest_registration">
                        {% set need_separator = False %}
                        {% if current_user and q.Contest_is_registered(contest, current_user) %}
                            {{ _("You are registered") }}
                            {% set need_separator = True %}
                        {% elif q.Contest_is_registration_open(contest) %}
                            <a href="/contest/{{ contest.id }}/register/">{{ _("Contest Register") }}</a>
                            {% set need_separator = True %}
                        {% end %}

                        {% if need_separator %}
                            |
                        {% end %}

                        <a href="/contest/{{ contest.id }}/registered/"><i class="icon-user"></i>&times;{{ q.Contest_registration_count(contest) }}</a>
                    </td>
                </tr>
            {% end %}
        </tbody>
    </table>
{% end %}

{% if upcoming_contests %}
    <table class="table table-hover table-striped table-bordered contests contests_upcoming">
        <caption>{{ _("Upcoming contests") }}</caption>
        <thead>
            <tr>
                <th class="contest_name">{{ _("Name") }}</th>
                <th class="contest_start">{{ _("Contest Starts") }}</th>
                <th class="contest_duration">{{ _("Duration") }}</th>
                <th class="contest_registration">{{ _("Registration") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for contest in upcoming_contests %}
                <tr>
                    <td class="contest_name">{{ contest.name }}</td>
                    <td class="contest_start">{{ locale.format_date(contest.start_time) }}</td>
                    <td class="contest_duration">
                        {% if contest.duration != None %}
                            {{ "%02d:%02d" % (contest.duration/60, contest.duration%60) }}
                        {% end %}
                    </td>
                    <td class="contest_registration">
                        {% if current_user and q.Contest_is_registered(contest, current_user) %}
                            {{ _("You are registered") }}
                        {% else %}
                            {% if q.Contest_after_registration_end(contest) %}
                                {{ _("Closed") }}
                            {% elif q.Contest_after_registration_start(contest) %}
                                <a href="/contest/{{ contest.id }}/register/">{{ _("Contest Register") }}</a>
                            {% elif contest.registration_start %}
                                {{ _("Opens") }} {{ locale.format_date(contest.registration_start) }}
                            {% else %}
                                {{ _("Not open yet") }}
                            {% end %}
                        {% end %}

                        {% set registered = q.Contest_registration_count(contest) %}
                        {% if (True or registered > 0) and q.Contest_after_registration_start(contest) %}
                            | <a href="/contest/{{ contest.id }}/registered/"><i class="icon-user"></i>&times;{{ registered }}</a>
                        {% end %}
                    </td>
                </tr>
            {% end %}
        </tbody>
    </table>
{% end %}

<table class="table table-hover table-striped table-bordered contests contests_past">
    <caption>{{ _("Past contests") }}</caption>
    <thead>
        <tr>
            <th class="contest_name">{{ _("Name") }}</th>
            <th class="contest_start">{{ _("Contest Started") }}</th>
            <th class="contest_duration">{{ _("Duration") }}</th>
            <th class="contest_standings"></th>
            <th class="contest_registration"></th>
        </tr>
    </thead>
    <tbody>
        {% for contest in past_contests %}
            <tr>
                <td class="contest_name">{{ contest.name }}</td>
                <td class="contest_start">{{ locale.format_day(contest.start_time, dow=False) }}</td>
                <td class="contest_duration">
                    {% if contest.duration != None %}
                        {{ "%02d:%02d" % (contest.duration/60, contest.duration%60) }}
                    {% end %}
                </td>
                <td class="contest_standings"><a href="/contest/{{ contest.id }}/standings/">{{ _("Final standings") }}</a></td>
                <td class="contest_registration">
                    <a href="/contest/{{ contest.id }}/registered/"><i class="icon-user"></i>&times;{{ q.Contest_registration_count(contest) }}</a>
                </td>
            </tr>
        {% end %}
    </tbody>
</table>

{% module Pagination(item_count=item_count,
                     cur_page=cur_page,
                     items_per_page=items_per_page,
                     page_location=page_location) %}

{% end %}
