{% extends ../base.html %}
{% block content %}

<table class="table table-hover table-striped table-bordered contest_problems">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ _("Name") }}</th>
            <th>{{ _("Solved") }}</th>
            <!-- <th class="contest_name">{{ _("Name") }}</th> -->
            <!-- <th class="contest_start">{{ _("Start") }}</th> -->
            <!-- <th class="contest_duration">{{ _("Duration") }}</th> -->
            <!-- <th class="contest_standings"></th> -->
            <!-- <th class="contest_registration"></th> -->
        </tr>
    </thead>
    <tbody>
        {% for cproblem in problems %}
            <tr>
                <td>{{ cproblem.short_id }}</td>
                <td><a href="/contest/{{ contest.id }}/problem/{{ cproblem.short_id }}/">{{ cproblem.problem.name }}</a></td> {# TODO: use short_id everywhere #}
                <td>{{ cproblem.teams_solved_count(db) }}/{{ cproblem.teams_tried_count(db) }}</td>
            </tr>
        {% end %}
    </tbody>
</table>

{% end %}
