{% extends ../base.html %}
{% block content_fluid %}

<h1>Standings</h1>
<table class="table table-bordered table-striped" id="scoreboard">
    <thead>
        <tr>
            <th class="rank">#</th>
            <th class="team">Team</th>
            <th class="points">Points</th>
            <th class="penalty">Penalty</th>
            {% for problem in contest.get_problems(db()) %}
                <th class="problem">{{ problem.short_id }}</th>
            {% end %}
            <!-- <th class="problem">A</th> -->
            <!-- <th class="problem">B</th> -->
            <!-- <th class="problem">C</th> -->
            <!-- <th class="problem">D</th> -->
            <!-- <th class="problem">E</th> -->
            <!-- <th class="problem">F</th> -->
            <!-- <th class="problem">G</th> -->
            <!-- <th class="problem">H</th> -->
        </tr>
    </thead>
    <tbody>
        {% for i, (team, points, penalty, problems) in enumerate(standings) %}
            <tr>
                <td class="rank">{{ i+1 }}</td>
                <td class="team">{{ team.name }}</td>
                <td class="points">{{ points }}</td>
                <td class="penalty">{{ '%02d:%02d' % (int(penalty)/60, int(penalty)%60) }}</td>
                {% for (short_id, incorrect_tries, ac_time) in problems %}
                    {% if ac_time is None and incorrect_tries == 0 %}
                        <td class="problem"></td>
                    {% elif ac_time is None and incorrect_tries > 0 %}
                        <td class="problem wa">--:-- ({{ incorrect_tries }})</td>
                    {% else %}
                        <td class="problem ac">{{ '%02d:%02d' % (int(ac_time)/60, int(ac_time)%60) }} ({{ incorrect_tries }})</td>
                    {% end %}
                {% end %}

                <!-- <td class="problem"></td> -->
                <!-- <td class="problem"></td> -->
                <!-- <td class="problem ac">00:13 (0)</td> -->
                <!-- <td class="problem"></td> -->
                <!-- <td class="problem wa">&#45;&#45;:&#45;&#45; (1)</td> -->
                <!-- <td class="problem"></td> -->
                <!-- <td class="problem"></td> -->
                <!-- <td class="problem"></td> -->
            </tr>
        {% end %}

        <!-- <tr> -->
        <!--     <td class="rank">1</td> -->
        <!--     <td class="team">SuprDewd</td> -->
        <!--     <td class="points">1</td> -->
        <!--     <td class="penalty">00:13</td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem ac">00:13 (0)</td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem wa">&#45;&#45;:&#45;&#45; (1)</td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem"></td> -->
        <!-- </tr> -->
        <!-- <tr> -->
        <!--     <td class="rank">2</td> -->
        <!--     <td class="team">Petr</td> -->
        <!--     <td class="points">1</td> -->
        <!--     <td class="penalty">00:25</td> -->
        <!--     <td class="problem ac">00:05 (1)</td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem wa">&#45;&#45;:&#45;&#45; (2)</td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem"></td> -->
        <!--     <td class="problem"></td> -->
        <!-- </tr> -->
    </tbody>
</table>

{% end %}
